!
! FRRouting Configuration for Core Router R{{ router_num }} (ECMP Path {{ path_num }})
! This router provides one of the {{ num_paths }} equal-cost paths in the ECMP topology
!
! Reference: https://docs.frrouting.org/
! Architecture: ARCHITECTURE.md
!

frr version 8.4_git
frr defaults traditional
hostname ecmp-core-router-r{{ router_num }}
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!

! Interface configurations
interface eth0
 description Interface to Edge Router R1
 ip address 10.0.{{ path_num + 1 }}.2/24
!
interface eth1
 description Interface to Destination Router R{{ num_paths + 2 }}
 ip address 10.0.{{ num_paths + path_num + 1 }}.1/24
!
interface lo
 description Loopback Interface
 ip address 10.0.{{ path_num + 1 }}.1/32
!

! OSPF Configuration
router ospf
 ospf router-id 10.0.{{ path_num + 1 }}.1
 network 10.0.{{ path_num + 1 }}.0/24 area 0
 network 10.0.{{ num_paths + path_num + 1 }}.0/24 area 0
!

! Static Routes
ip route 10.0.1.0/24 10.0.{{ path_num + 1 }}.1
ip route 192.168.100.0/24 10.0.{{ num_paths + path_num + 1 }}.2
!

! BGP Configuration for advertising destination network
router bgp 65002
 bgp router-id 10.0.{{ path_num + 1 }}.1
 neighbor 10.0.{{ path_num + 1 }}.1 remote-as 65001
!
 address-family ipv4 unicast
  neighbor 10.0.{{ path_num + 1 }}.1 activate
  network 192.168.100.0/24
 exit-address-family
!

! Line configuration
line vty
!
